.sapMListTbl .sapMText.redColor {
    background: #d6181f;
    border-radius: 11px;
    padding: 2px 7px;
    color: white;
}

.sapMSplitContainerMaster section {
    margin-top: 3rem;
}

.sapMSplitContainerMaster .sapMPageHeader {
    display: none;
}
